<section class="heros"><br>
  
  <div class="progress" style="height: 30px;" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar bg-success" style="width: 20%; font-size: 20px;">1ère étape</div>  
  </div>
  <div class="mb-4"></div>
  <form class="forms">
    <p>Selectionnez le type de véhicule 1 :</p>
    <select class="form-select form-select-lg mb-3" aria-label="Large select example" style="width: 30%;" id="carSelect">
      <option value="" disabled selected>choisir le type de voitre voiture </option>
      <option value="1">Voiture</option>
      <option value="2">Camion </option>
      <option value="3">Deux-roues motorisés</option>
    </select>
    <p>Saissisez les informations du véhicule 1 :</p>
    <div class="form-group">
      <label for="formGroupExampleInput" style="width: 30%; color:white ; font-size: 20px; ">Assurance</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Assurance" required style="color: black;">
    </div>
    <div class="form-group">
      <label for="codeImmatriculation" class="form-label" style="width: 30%; color:white ; font-size: 20px; ">Code d'immatriculation (Tunisie)</label>
      <input type="text" style="color: black;" class="form-control" id="codeImmatriculation" placeholder="Ex: AB123CD" required>
    </div>
    <div class="form-group">
      <label for="codeImmatriculation" class="form-label" style="width: 30%; color:white ; font-size: 20px; ">Numéro de contrat</label>
      <input type="text" style="color: black;" class="form-control" id="Numéro-de-contart" placeholder="Numéro de contrat" required>
    </div>
    <br>
    <p>Assuré</p>
    <div class="form-group">
      <label for="formGroupExampleInput" style="width: 30%; color:white ; font-size: 20px; ">Nom de l'assuré ou raison social</label>
      <input type="text" class="form-control" id="Nom-Assuré" placeholder="Nom de l'assurancé" required style="color: black;">
    </div>
    <div class="form-group">
      <label for="codeImmatriculation" class="form-label" style="width: 30%; color:white ; font-size: 20px; ">Prénom de l'assuré</label>
      <input type="text" style="color: black;" class="form-control" id="Prénom-Assuré" placeholder="Prénom de l'assuré" required>
    </div>
    <div class="form-group">
      <label for="codeImmatriculation" class="form-label" style="width: 30%; color:white ; font-size: 20px; ">Code postal de l'assuré</label>
      <input type="text" style="color: black;" class="form-control" id="Code-Postal" placeholder="Code postal de l'assuré" required>
    </div>
    <br>
    
    <button type="button" class="btn btn-secondary btn-lg">Précedent</button>
    <div class="space"></div>
    <button type="button" class="btn btn-primary btn-lg"  routerLink="/ajout2"  >Valider</button>
  </form>
</section>