<section class="heros"><br>
  
    <div class="progress" style="height: 30px;" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar bg-success" style="width: 40%; font-size: 20px;">2eme étape</div>  
    </div>
    <br>
   
    <form [formGroup]="formulaire" (ngSubmit)="soumettreFormulaire()">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" style="transform: scale(1.5);" id="assureCheck" (change)="toggleFields($event)">
          <label class="form-check-label" for="assureCheck" >Le conducteur est l'assuré</label>
        </div><br>
      
        <!-- Champs pour le conducteur -->
        <div class="form-group" id="conducteurFields" [style.display]="conducteurVisible ? 'block' : 'none'">
          <label for="nomConducteur">Nom du conducteur :</label><br>
          <input type="text" class="form-control" id="nomConducteur" formControlName="nomConducteur" required>
          <label for="prenomConducteur">Prénom du conducteur :</label><br>
          <input type="text" class="form-control" id="prenomConducteur" formControlName="prenomConducteur" required>
        </div>
      
        <!-- Champs numéro de téléphone et adresse email -->
        <div class="form-group">
          <label for="telephone">Numéro-de-téléphone(Tunisie):</label>
          <input type="text" class="form-control" id="telephone" name="telephone" formControlName="telephone" pattern="^\+216\d{8}$" [required]="!conducteurVisible">
          <label for="email">Adresse email :</label>
          <input type="email" class="form-control" id="email" name="email" formControlName="email" [required]="!conducteurVisible">
        </div><br>
        <div *ngIf="erreurSoumission" class="alert alert-danger" role="alert">
            Veuillez remplir correctement tous les champs du formulaire.
        </div>
      
        <button type="submit" class="btn btn-primary">Valider</button>
      </form>
  </section>