.heros{
    min-height: 90vh;
    background: linear-gradient(rgb(0,0,0,0.4),transparent), url("https://i.ytimg.com/vi/nBnzNEdjUOU/maxresdefault.jpg");
    background-size: cover;
    /*background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
   

}
.progress{
    margin-left: 50px;
    margin-right: 50px;
    
    
    }